/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('img\5198910.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
}

/* Form styles */
.sign-up-form {
    opacity: 1;
    z-index: 2;
    text-align: left;
    margin-top: 20px;
    padding: 20px; /* Add padding to the form */
}

.title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

/* Button styles */
.btn {
    width: 150px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

.btn:hover {
    background-color: #4d84e2;
}

/* Add your animations here */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media queries */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    .title {
        font-size: 1.5rem;
    }
    .input-field input {
        font-size: 0.9rem;
    }
    .btn {
        padding: 10px;
        font-size: 0.9rem;
    }
}
